<div class="main-header">
  <div class="left-header">
    <div class="main-name">
      hogehuga
    </div>
  </div>
  <div class="right-header">
    <div class="chatt-end">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="main-content">
  <div class="content">
    <div class="upper-content">
      <div class="content-user">
        Tom
      </div>
      <div class="content-date">
        2021/10/13(Wed) 22:10:59
      </div>
    </div>
    <div class="lower-content">
      <div class="message">
        おはよう
      </div>
    </div>
  </div>
  <div class="content">
    <div class="upper-content">
      <div class="content-user">
        Tom
      </div>
      <div class="content-date">
        2021/10/13(Wed) 22:17:59
      </div>
    </div>
    <div class="lower-content">
      <div class="message">
        こんばんは
      </div>
    </div>
  </div>
</div>

<div class="form">
  <div class="form-input">
    <input class="form-message" placeholder= "type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>