<div class="side-header">
  <div class="header-name">
    <a href="#">Masaki</a>
  </div>
  <div class="create-room">
  <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="side-main">
  <div class="chatt">
    <div class="chatt-name">
    <a href="#">techroom1</a>
    </div>
  </div>
  <div class="chatt">
    <div class="chatt-name">
    <a href="#">techroom2</a>
    </div>
  </div>
</div>