.wrapper{
  display: flex;
}
.chat-side{
  background-color: #253141;
  width: 300px;
  height: 100vh;
  
}
.side-header{
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #253141;
}
.header-name a{
  font-size: 16px;
  color: #fafafa;
  text-decoration: none;
}

.create-room a{
  font-size: 10px;
  color: deepskyblue;
  border: 1px solid lightblue;
  padding: 14px;
  text-decoration: none;
}

.side-main{
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
  overflow: scroll;
}
.chatt{
  padding: 20px 0px 40px 0px;
}
.chatt-name a {
  text-decoration: none;
  color: white;
}

.chat-main{
  background-color: #ffffff;
  width: calc(100vw - 300px);
}
.main-header{
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}
.main-name{
  font-size: 24px;
  color: #333;
  margin-top: 36px;
}
.chatt-end{
  margin-top: 40px;
}
.chatt-end a {
  text-decoration: none;
  border: 1px solid darkred;
  color: darkred;
  padding: 20px;
}

.main-content{
  height: calc(100vh - 100px - 90px);
  background-color: #fafafa;
  padding: 46px 40px 0;
  overflow: scroll;
}

.content{
  margin: 10px 0 0 0;
}

.upper-content{
  display: flex;
}

.content-user{
  color: #434a54;
  font-size: 16px;
}
.content-date{
  font-size: 12px;
  color: #999;
  padding-left: 10px;
}
.lower-content{
  margin-top: 10px;
}
.message{
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
}
.form{
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px;
  display: flex;
}

.form-input{
  background-color: white;
  display: flex;
  width: 100%;
}
.form-message{
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}
.form-submit{
  background-color: #38aef0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}
.form-image{
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}
.hidden{
  display: none;
}